@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #fffffff5;
    --text-secondary: #aaaaaa9c;
    --text-tertiary: #afafaf28;
    --bg-idle: #8080804d;
    --bg-hover: #afafaf0c;
    --bg-darker: #12121233;
    --bg-disabled: #afafaf0c;
    --bg-button-hover-bg: #afafaf30;
    --cyan: #5ac8f5;
  }
}
